# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Finder
._*

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
